{% extends 'userprofiles/base_login.html' %}
{% load i18n %}
{% block head_title %}
{% trans "Change Password" %}
{% endblock %}
{% load bootstrap %} 
{% block content %}
{% load static %}
{% load staticfiles %}
<div class="content">
	<div class="container-fluid">
		<div class="row">
		</div>
		<div class="col-md-8 col-md-offset-2">
			<div class="card card-profile">
				<div class="content">
					<div class="logo-big">
				    <a href="/" class="simple-text">
				        <img src="{% static 'img/logo_dark.png' %}">
				      </a>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="card">
					<div class="card-header">
						<h4 class="title">{% trans "Change Password" %}</h4>
					</div>
					<div class="card-content">

						<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
							{% csrf_token %} {{ form|bootstrap }}
							<button type="submit" name="action" class="btn btn-primary pull-right">{% trans "Change Password" %}</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
