{% extends 'userprofiles/base.html' %}
{% load static %}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}

{% block header_import %}
{% endblock header_import %}


{% block content %}
<style>
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

</style>
<div class="card">
  <div class="card-header">
    <h4 class="title">{% trans "Change Profile Picture" %}</h4>
  </div>
  <div class="card-content">
        <form id="teacher-register-form" action="{% url 'profile-edit' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <span class="btn btn-default btn-file">
              Browse<input id="id_profile_picture" name="profile_picture" type="file" required />
            </span>
            <span id="profile_picture_name"></span>
            <button type="submit" class="btn btn-primary pull-right" name="change_pic">{% trans "Change" %}</button>
        </form>
      <div class="clearfix"></div>
  </div>
</div>


<div class="card">
  <div class="card-header">
    <h4 class="title">{% trans "Edit Profile" %}</h4>
  </div>
  <div class="card-content">
        <form id="profileuser-register-form" action="{% url 'profile-edit' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form_edit_profile|bootstrap }}
            <button type="submit" class="btn btn-primary pull-right" name="edit_profile">{% trans "Update" %}</button>
        </form>
      <div class="clearfix"></div>
  </div>
</div>


{% endblock content %}
